<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://www.executivebabysitting.com.au/images/girls.png');"></div>
            <div class="carousel-caption">
                <h2>All ages catered for</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://www.abrabrighton.com/wp-content/uploads/2015/10/Babysitting_64817762.jpg');"></div>
            <div class="carousel-caption">
                <h2>We lend a hand</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://www.apa.org/Images/discrimination-kids2-title-image_tcm7-198551.jpg');"></div>
            <div class="carousel-caption">
                <h2>We support Equality</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                <strong>SITTERS</strong> Not the babysitter you want, the babysitter you NEED
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4><i class="fa fa-fw fa-child  text-center"></i> All ages catered for</h4>
                </div>
                <div class="panel-body">
                    <p>We cater for all ages, from new-borns to nervous teenagers! Our sitters are in it for the love of it (mostly anyway!) 
                    If you have a special needs child we do our best to ensure that we can source a sitter that understands the requirements.</p> 
                    <p>Please make any special needs known in your initial request. We have experienced sitters, and a number of sitters with siblings 
                    with special needs.</p>
                    <% if user_signed_in? %>
                        <%= link_to 'Book Now', users_path, :class => 'btn btn-primary' %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4><i class="fa fa-fw fa-thumbs-up text-center"></i> We lend a hand</h4>
                </div>
                <div class="panel-body">
                    <p>It's hard being a parent in the modern world. There is hardly a moment to catch your breath, at work or at home. When the chance 
                    to grab some quality time with your significant other comes along, grab it with both hands.</p>  <p>You love you kids dearly, but a 
                    relaxed parent is a better parent.  Take the time out and let us manage things on the home front for an evening for you.</p>
                    <% if user_signed_in? %>
                        <%= link_to 'Book Now', users_path, :class => 'btn btn-primary' %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4><i class="fa fa-fw fa-group"></i> We support Equality</h4>
                </div>
                <div class="panel-body">
                    <p>It is a mixed up world, and it is hard to find your place in it.  Discrimination is no longer seen as an issue, but it will only 
                    remain a free world as long as we fight to keep it free.  We are determined to do our bit.</p> <p>We embrace all people, however 
                    they identify and whatever relationship model they choose.  Our only concern is the safety and wellbeing of our minders and your children.
                    </p>
                    <% if user_signed_in? %>
                        <%= link_to 'Book Now', users_path, :class => 'btn btn-primary' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->


</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
});
</script>
